<span ng-repeat="option in d2Options" 
      class="col-sm-12 form-control cursor-pointer" 
      ng-disabled="d2Disabled"
      ng-class="getRadioInputNotificationClass(option.value)"
      ng-click="saveValue(option.value)">
    <span class="fa fa-circle-thin fa-stack-custom-large" ng-if="option.value !== model.radio"></span> 
    <span class="fa fa-dot-circle-o fa-stack-custom-large" ng-if="option.value === model.radio"></span> 
    {{option.displayName | translate}}
</span>


<span ng-show="false">
    <label ng-repeat="option in d2Options" class="radio-display-none">
    <input type="radio" 
           name="{{name}}"
           ng-required="d2Required"
           ng-disabled="d2Disabled"
           ng-model="model.radio"
           value="{{option.value}}"> {{option.displayName | translate}}
    </label>    
</span>